.cartContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.cart {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  max-width: 1000px;
  width: 100%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
  min-width: 400px;
}
