.card {
  display: flex;
  flex-direction: column;
  height: 450px;
  border: 1px solid var(--secondaryBtnColor);
  border-radius: var(--cardBorderRadius);
  background-color: var(--color2);
}

.card > img {
  width: 100%;
  height: 65%;
  max-height: 300px;
  object-fit: contain;
  object-position: center;
  padding: 1rem;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
  padding: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.info > h2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.interact {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.addToCartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--secondaryBtnColor);
  border-radius: var(--btnBorderRadius);
  transition: background-color 0.2s ease-in-out;
}

.addToCartBtn:hover {
  background-color: var(--secondaryBtnColor);
}

.addToCartBtn img {
  height: 1.25rem;
}
