.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  background-color: var(--color2);
  border-right: 1px solid var(--secondaryBtnColor);
  overflow-y: auto;
}
