.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 250px;
  background-color: var(--color2);
  box-shadow: 0 0 0.5rem rgb(161, 161, 161);
  overflow: auto;
}

@media (max-width: 680px) {
  .sidebar {
    width: 100%;
  }
}
