.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  min-width: 200px;
  background-color: var(--color2);
  box-shadow: 0 0 0.5rem rgb(161, 161, 161);
  overflow: auto;
}
