.dropdown {
  width: 175px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondaryBtnColor);
  border-radius: var(--btnBorderRadius);
  background: url(../assets/icons/chevron-down.svg) no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: 1.5rem;
}

.dropdown::-ms-expand {
  display: none;
}
